@font-face {
	font-family: 'Pinar';
	src: url('/fonts/pinar/pinar.woff2') format('woff2'),
		 url('/fonts/pinar/pinar.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}